@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-transform: capitalize;
}
.container {
  position: relative;
}

.top {
  background-color: #fff;
  height: 60px;
}
.top-text {
  color: rgba(87, 87, 87, 1);
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 130px;
  border-right: 2px solid grey;
}
.container {
  width: 95%;
  height: 156vh;

  margin: 2rem auto;
}
.main {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(254, 237, 146, 1);

  height: 60%;
}
.main-info {
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  margin-left: 3rem;
}

.main-info-text {
  font-weight: 800;
  font-size: 1.5rem;
}
.main-info-list {
  margin-top: -1rem;
}
.main-info-list li {
  margin-top: 1rem;
}
.main-img img {
  width: 65%;
  height: 80%;
  margin-left: 9rem;
}
.main-img {
  margin-right: -5rem;
}

.main-form {
  display: flex;
  flex-direction: column;
}

.main-form input {
  margin: 0.5rem;
  width: 282px;
}
.main-form button {
  margin: 0.5rem;
  width: 282px;
  border-radius: 5px;
  padding: 0.5rem;
  color: #fff;
  background-color: rgba(0, 181, 225, 1);
}
.main-terms {
  margin-top: 1rem;
}
.customer {
  margin-top: 2rem;
  background-color: #fff;
}
.customer-image img {
  height: 150px;
  width: 150px;
  margin-left: 5rem;
}
.customer-text {
  text-align: center;
  margin: 2rem;
  font-size: 1.7rem;
}
.customer-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.customer-review {
  width: 37rem;
  margin-right: 2rem;
}
.customer-review h3 {
  margin-bottom: 1rem;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
  text-align: center;
}
.circle {
  margin-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 500px)  and (min-height:400px){
  .main-info {
    width: 100%;
  }
  .main-img {
    display: none;
  }
  .customer-info {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
  .customer-review p {
    max-width: 326px;
    text-align: center;
  }
  .customer-image {
    margin-top: 1rem;
    margin-left: 4rem;
  }
  .customer-review h3 {
    position: absolute;
    top: 346px;
    left: 187px;
  }
  .circle {
    margin-top: 2rem;
  }
}
